
<div class="well" id="about-well">
  <h3 id="about">Kid-Friend.ly is a peer-to-peer marketplace for kid-friendly activities. Why in the world does the world need something like this on the interwebs? In 2013, I became a mentor in East Los Angeles in a program that was focused on giving middle school kids who are considered at-risk, the opportunity to spend time with adults like me. The point was to expose them to positive influences, lend them emotional support and help them discover their interests and build confidence in themselves.</h3> 

  <h3 id="about">I was paired with an awesome mentee and it became clear that the toughest part about the program was finding quality activities to do together. I wanted to engage him in enriching, creative activities, not just going to see summer blockbusters and eating hamburgers (Not to say that isn't fun too. Ahem.). Kid-Friend.ly turns neighbors and friends into teachers and makes activity planning as painless as ordering your next meal on Seamless. It's an online tool to help parents and mentors spend less time planning and more time enjoying a variety of new experiences with their kids (without paying museum-level prices) and watching their young ones discover new passions and learn new skills in a fun way.</h3>
  
  <h3 id="about"> - Paris Hyun, Full Stack Developer</h3>
</div>
