<img class="skate" src="http://i1292.photobucket.com/albums/b561/parisliahyun/IMG_2390_zps1387dd4e.jpg" alt="marcel" height="450px", width="280px">

<h8>"To be exposed to cool shit at a young age is a human right." ~ Paris Hyun</h8>

<h4>Kid-Friend.ly is a peer-to-peer marketplace for kid-friendly activities. Why in the world does the world need something like this on the interwebs? In 2013, I became a mentor in East Los Angeles in a program that was focused on giving middle school kids who are considered "at risk", living in poor, dangerous neighborhoods, the opportunity to spend time with adults like me. The point was to expose them to positive influences, lend them emotional support and help them discover their interests and build confidence in themselves.</h4> 

<h4>I was paired with an awesome mentee and it became clear that the toughest part about the program was finding quality activities to do together. I wanted to engage him in enriching, creative activities, not just going to see summer blockbusters and eating hamburgers (even though we did end up doing a lot of that. No regrets!). Kid-Friend.ly turns neighbors and friends into teachers, and makes activity planning as painless as ordering your next meal on Seamless. It's an online tool to help parents and mentors spend less time planning and more time enjoying a variety of new experiences with their kids and watching their young ones discover new passions and learn new skills in a fun.</h4>

