<div class="jumbotron center">
     <h9>To be exposed to a variety of experiences at a young age is a human right.</h9>
     <br>
     <br>
     <% if user_signed_in? %>
          
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>