<div class="container">

  <%= render 'form' %>
 

  <div class="row">
  <% @activities.each do |activity| %>
  <div class="col-md-4"><img class="activities" src="<%= activity.image_url %>" alt="activity image" height="280px" width="355px"></div>
  <% end %>
  </div>  
</div>
