
.navbar-inverse, .navbar, .navbar-default{
    border-radius: 0;
    background-color: #FFFFFF;
    border: none !important;
    z-index: 3;
}

.navbar-inverse .navbar-nav > li {
    margin-top: 10px !important;
    margin-right: 15px;
    font-size: 20px;
    font-family: 'Varela', sans-serif !important; 
    z-index: 3;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #363636;
  z-index: 3;
}

.navbar-inverse .navbar-brand {
    margin-top: -6px !important;
    margin-right: 15px;
}

.subject   {
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    font-size:16px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 70%;
    border: 1px;
    height: 40px;
    font-family: oxygen;
}

.navbar-default .navbar-toggle,  {
    margin-top: 20px;
    border-color: green !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: green;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #EEE5DE !important;
}

div.mural {
    background-size: 100% !important; 
    background-attachment: absolute !important;
    background-repeat:no-repeat;
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 67%;
    padding-bottom: 40px;
    z-index: 1 !important;
} 

.body   {
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    font-size:16px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 100%;
    border: 1px;
    height: 200px;
    font-family: oxygen;
    z-index: 10;
}

.search-form {
    margin-top: 30px;
    text-align: center;
    color: #FDFDFD;
    z-index: 2;
}

h3 {
    font-family: 'Text Me One', sans-serif !important;   
    font-size: 30px;
}

.search-well {
    border-radius: 10px;
    border: solid #FDFDFD 6px !important;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-family: 'Text Me One', sans-serif !important;
    width: 38%;
    margin-left: 14%;
    margin-top: 5% !important;
    z-index: 2;
}

#search-button {
    border-radius: 12px;
    height: 30px;
    width: 40px;
    text-align: center;
    margin-top: -6px;
    z-index: 2;
}

#search-button:focus {
    outline: none;
    z-index: 2;
}

.search-container {
    /*margin-top: 55%;*/
    background-color: #FDFDFD
}

.well {
    border-radius: 10px;
}

.activities {
    border-radius: 10%;
    border: dotted #363636 2px;
    margin: 0 auto;
    margin-bottom: 20px !important;
    height: 270px !important;
    width: 355px !important;
}

.thumbnail {
    border-radius: 10%;
    border: dotted #363636 2px;
    margin: 0 auto;
    margin-bottom: 20px !important;
    height: 280px !important;
    width: 355px !important;
}

.thumbnail:hover .hover-text {
    visibility: visible;
    background-color: green;
    opacity: .8;
    border-radius: 10%;
    border: solid gray 1px;
    margin: 0 auto;
    margin-bottom: 20px !important;
    height: 280px !important;
    width: 355px !important;
}

.img.activities {
    border-radius: 10%;
    margin: 0 auto;
    margin-bottom: 20px !important;  
    height: 280px !important;
    width: 355px !important;
}

.hover-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
}

h7 {
    font-family: 'Text Me One', sans-serif !important;
    font-size: 20px !important;
    color: #ffffff !important;
    text-align: center;
    padding-top: 55px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

p {
    color: #363636 !important;
    font-family: 'Varela', sans-serif !important; 
}

h8 {
    font-size: 40px;
}

.profile-image {
    border-radius: 10%;
    margin: 0 auto;
    margin-bottom: 20px !important;  
    height: 280px !important;
    width: 355px !important;
}

ul.user-profile, .activity-ul-list {
    padding: 10px;
    margin-top: 70px;
    list-style: none !important;
    background-color: mintcream !important;
    border-radius: 10px;
    font-family: 'Varela' !important; 
    border: 2px dotted lightgray;
}

.profile-utilities {
    display: inline !important;
}

.well {
    text-align: center;
    margin: 0 auto;
}

.activities-list {
    background-color: #ffffff !important;
    font-family: 'Text Me One', sans-serif !important; 
}

#vendor-activities {
    margin-top: 40px;
    background-color: #ffffff;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
    margin-bottom: 40px;
    border-top: solid lightgray 1px;
    padding-top: 20px;
}

ul.vendor-activities {
    list-style: none !important;
    text-align: center;
    margin: 0 auto !important;
    margin-top: 20px;
    font-family: 'Varela', sans-serif !important; 
}

img.vendor-activities {
    border-radius: 10%;
}

#profile, #activity {
    font-size: 16px;
    background-color: #ffffff;
    margin: 0 auto !important;
    text-align: left !important;
}

#user-activity-col-5, #verification-col-5 {
   margin: 0 auto !important;
   text-align: center;
}

#user-col-5 {
   margin: 0 auto !important;
   text-align: center;
}

#leave-review {
    margin-left: 80px;
    margin-right: 80px;
}

.linkedin {
    width: 280px;
    height: 175px;
    background-color: mintcream;
    border: dotted lightgray 2px;
    border-radius: 10px;
    text-align: center;
}

.q {
    color: #FDFDFD !important;
    font-family:  'Text Me One', sans-serif !important; 
    font-size: 20px;
    z-index: 1000;
}

h9 {
    font-family:  'Text Me One', sans-serif !important; 
    font-size: 48px;
}

#activity-form {
    margin: 0 auto;
    font-family: 'Text Me One', sans-serif !important; 
    z-index: 10;

}

.jumbotron {
    margin-top: 70px;
    text-align: center;
}

.form-control {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
}

.panel-body {
    text-align: center;
    margin: 0 auto;
}

.panel-heading, .panel-footer {
    text-align: center;
    margin: 0 auto;
}

#about-well {
    margin-top: 20px;
}

#checkbox {
    margin: 0 auto;
    width: 15%;
    text-align: center !important;
}

#radio {
    margin: 0 auto;
    width: 25%;
    text-align: center !important;
    margin-bottom: 15px;
}

#about {
    font-size: 26px;
    text-align: left;
    line-height: 32px;
}

#myModalLabel {
    text-align: left;
}

#new-activity, #messages {
    margin-top: 80px;
}

#emails {
    margin-bottom: 10px;

}

/*#emails {
    margin-left: 165px;
    margin-top: -2em;

    }*/

 .dropdown {
    text-transform: lowercase;
 }   

.comment {
    text-align: left !important;
    font-family: 'Varela', sans-serif !important; 
    list-style: none;
}

 #reviews {
    margin-top: 40px;  
    background-color: #ffffff;
    margin-bottom: 40px;
    margin-left: 80px;
    margin-right: 80px;
}

.comment-content-td {
    width: 500px;
}

.commenter-td {
    width: 75px;
    padding-right: 50px !important;
}

#comments {
    text-align: left !important;
}

#comments td { 
    border-top: none !important;
 }

.commenter {
    width: 90px;
    height: 60px;
}

.comment-form {
    margin-top: 40px;
    margin-bottom: 40px;
}

h10 {
    color: #363636 !important;
    font-family: 'Nunito', sans-serif !important;
    font-size: 30px;
    margin-top: 20px;
}

.browse {
    margin-top: 52%;
    margin-bottom: 15px;
    width: 100%;
}

