@import url(http://fonts.googleapis.com/css?family=Text+Me+One);

.navbar-inverse, .navbar, .navbar-default{
/*    position: fixed !important;
    width: 100% !important;*/
    border-radius: 0;
}

.subject   {
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    font-size:16px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 70%;
    border: 1px;
    height: 40px;
    font-family: oxygen;
}

.body   {
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    font-size:16px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 100%;
    border: 1px;
    height: 200px;
    font-family: oxygen;
}

.search-form {
    text-align: center;
    color: orange;
}

h2 {
 font-family: 'Text Me One', sans-serif !important;   

}

.search-well {
    border-radius: 10px;
    border: solid gray 1px !important;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-family: 'Text Me One', sans-serif !important;
}

.span1.visible-desktop {
    color: lightgray !important;
}

.month_header {
    background-color: lightgray !important;
    color: #FF007F !important;
}

.well {
    border-radius: 10px;
}

.activities {
    border-radius: 10%;
    border: solid gray 1px;
    margin: 0 auto;
    margin-bottom: 20px !important;
}

.row {

}
