<div class="well">
  <h2>All Activities:</h2>
  
  <% @activities.each do |activity| %>
  <ul>
    <li>Image Url: <%= activity.image_url %></li>
    <li>Description: <%= activity.description %></li>
    <li>Tags: <%= activity.tags %></li>
    <li>Price: $<%= activity.price %>0</li>
  </ul>
  <% end %>

</div>





